<% include ../static/head.html %>
<body>
<% include ../static/topBar.html %>
<div class="am-cf admin-main">
    <% include ../static/leftMenu.html %>
    <div class=" admin-content">
        <div class="daohang">

        </div>
        <div class="am-popup am-popup-inner" id="my-popup" style="width: 270px;height:290px;margin: 0 auto;margin-top: -100px;margin-left: -100px;">

            <div class="am-popup-hd">
                <h4 class="am-popup-title">增加商品库存</h4>
                <span data-am-modal-close
                      class="am-close">&times;</span>
            </div>

            <div class="am-popup-bd">


                <form class="am-form tjlanmu" id="pop_update_form" method="post" action="/admin/store/addstore">


                    <div class="am-form-group">
                        <label>商品编号：</label><label id="product_id"></label>
                        <input name="product_id" type="hidden">
                    </div>
                    <br>
                    <div class="am-form-group" style="text-overflow:ellipsis; white-space:nowrap;overflow:hidden; ">
                        <label>商品名称：</label><span id="product_name" style="text-overflow:ellipsis; white-space:nowrap;overflow:hidden; "></span>
                    </div>
                    <br>
                    <div class="am-form-group">
                        <label>新增库存数量：</label>
                        <input name="add_store_count" type="number" step="1" min="1" style="width: 80px;height: 20px;display: inline-block;">
                    </div>

                    <br>
                    <div class="am-form-group am-cf">
                        <div class="you">

                            <button type="submit" style="width: 80%" class="am-btn am-btn-success am-radius">提交</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>



        <div class="admin-biaogelist">
            <div class="listbiaoti am-cf">
                <ul class="am-icon-flag on">
                    库存统计
                </ul>
                <dl class="am-icon-home" style="float: right;">
                    当前位置： 首页 > <a href="/admin/product/store">库存统计</a>
                </dl>


            </div>

            <div class="am-btn-toolbars am-btn-toolbar am-kg am-cf">
                <form id="search_form" method="post" action="/admin/store/totaladdstore">
                    <ul>

                        <li>
                            <label>进货数量：</label><input style="display: inline-block;width: 75px;" name="add_store_start" type="number" min="0" class="am-form-field am-input-sm am-input-xm" placeholder="下限" />&nbsp;--
                            <input style="display: inline-block;width: 75px;" name="add_store_end" type="number" min="0" class="am-form-field am-input-sm am-input-xm" placeholder="上限" />
                        </li>
                        <li>
                            <label>销售数量：</label><input style="display: inline-block;width: 75px;" name="sale_start" type="number" min="0" class="am-form-field am-input-sm am-input-xm" placeholder="下限" />&nbsp;--
                            <input style="display: inline-block;width: 75px;" name="sale_end" type="number" min="0" class="am-form-field am-input-sm am-input-xm" placeholder="上限" />
                        </li>
                        <br><br>
                        <li>
                            <label>库存数量：</label><input style="display: inline-block;width: 75px;" name="inventory_start" type="number" min="0" class="am-form-field am-input-sm am-input-xm" placeholder="下限" />&nbsp;--
                            <input style="display: inline-block;width: 75px;" name="inventory_end" type="number" min="0" class="am-form-field am-input-sm am-input-xm" placeholder="上限" />
                        </li>
                        <li>
                            <label>销售额：&nbsp;&nbsp;&nbsp;&nbsp;</label><input style="display: inline-block;width: 75px;" name="sale_money_start" type="number" min="0" class="am-form-field am-input-sm am-input-xm" placeholder="下限" />&nbsp;--
                            <input style="display: inline-block;width: 75px;" name="sale_money_end" type="number" min="0" class="am-form-field am-input-sm am-input-xm" placeholder="上限" />
                        </li>

                        <li style="margin-left: 5px;">
                            <div class="am-btn-group am-btn-group-xs" style="z-index: 1024">
                                <select name="product_type" data-am-selected="{btnWidth: 90, btnSize: 'sm', btnStyle: 'default',maxHeight:150}">
                                    <option value="-1">商品分类</option>
                                    <%product_typeList.forEach(function(product_type){%>
                                    <option value=<%-product_type.product_type_id%>><%-product_type.tname%></option>
                                    <%})%>
                                </select>
                            </div>
                        </li>
                        <li><input name="keyword" type="text" class="am-form-field am-input-sm am-input-xm" placeholder="关键词搜索" /></li>
                        <li><button type="submit" class="am-btn am-radius am-btn-xs am-btn-success" style="margin-top: -1px;">搜索</button></li>
                    </ul>
                </form>
            </div>


            <form class="am-form am-g">
                <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover">
                    <thead>
                    <tr class="am-success">
                        <th class="table-id am-text-center">ID</th>
                        <th class="table-name">商品名称</th>
                        <th>商品分类</th>
                        <th>进货数量</th>
                        <th>销售数量</th>
                        <th>库存数量</th>
                        <th class="table-author am-hide-sm-only">已销售金额</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%record_results.forEach(function(record_result){%>
                    <tr>
                        <td class="am-text-center"><%-record_result.product_id%></td>
                        <td><%-record_result.name%></td>
                        <td><%-product_typeList[record_result.type-1].tname%></td>
                        <td><%-record_result.total_add%></td>
                        <td><%-record_result.cumulative_sales%></td>
                        <td><%-record_result.inventory%></td>
                        <td><%-record_result.cumulative_sales * record_result.price%></td>
                        <td>
                            <button type="button" data-product-id="<%-record_result.product_id%>" data-product-name="<%-record_result.name%>" class="btn-add-store am-btn am-btn-success am-round am-btn-xs am-icon-plus">&nbsp;进货</button>
                        </td>
                    </tr>
                    <%})%>
                    </tbody>
                </table>
                <ul class="am-pagination am-fr">
                    <li class="am-disabled"><a href="#">«</a></li>
                    <li class="am-active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
                <hr />

            </form>

            <div class="foods">
                <ul>
                    版权所有@2017
                </ul>
                <dl>
                    <a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
                </dl>
            </div>
        </div>
    </div>
</div>

<!--[if lt IE 9]>
<!--<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>-->
<!--<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>-->
<!--<script src="assets/js/polyfill/rem.min.js"></script>-->
<!--<script src="assets/js/polyfill/respond.min.js"></script>-->
<!--<script src="assets/js/amazeui.legacy.js"></script>-->
<!--<![endif]&ndash;&gt;-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/admin/js/amazeui.min.js"></script>
<!--<![endif]-->
<script>
    $('.btn-add-store').on('click',function () {
        $('#product_id').text($(event.currentTarget).attr("data-product-id"));
        $('input[name=product_id]').val($(event.currentTarget).attr("data-product-id"));
        $('#product_name').text($(event.currentTarget).attr("data-product-name"));
        $('#my-popup').modal();
        return false;
    });
</script>
</body>
</html>