<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>电子商务后台管理系统</title>
    <meta name="description" content="主页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/static/admin/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/admin/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/static/admin/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/static/admin/css/admin.css">
    <link rel="stylesheet" href="/static/admin/css/upload_pic.css">
    <script src="/static/admin/js/jquery.min.js"></script>
    <script src="/static/admin/js/app.js"></script>
    <% if ( style == "showoneorder") { %>
    <link href="/static/shop/css/cartstyle.css" rel="stylesheet" type="text/css" />
    <link href="/static/shop/css/jsstyle.css" rel="stylesheet" type="text/css" />
    <% } %>
    <style type="text/css">
        /*.concent{overflow:hidden; width:100%;max-width: 1000px;margin: 0px auto; margin-top:60px; }*/
        /*.cart-table-th{display: none;}*/
        /*.cart-table-th {line-height: 50px;color: #3C3C3C;}*/
        /*.cart-table-th, .td-sum{display: block;}*/
        /*.wp{overflow: hidden;border: #f5f5f5 2px solid;}*/
        /*.wp{padding: 0px 10px;background: #F5F5F5;}*/
    </style>
</head>