<div class="am-tab-panel am-fade">

    <div class="actor-new">
        <div class="rate">
            <strong>100<span>%</span></strong><br> <span>好评度</span>
        </div>
        <dl>
            <dt>买家印象</dt>
            <dd class="p-bfc">
                <q class="comm-tags"><span>味道不错</span><em>(2177)</em></q>
                <q class="comm-tags"><span>颗粒饱满</span><em>(1860)</em></q>
                <q class="comm-tags"><span>口感好</span><em>(1823)</em></q>
                <q class="comm-tags"><span>商品不错</span><em>(1689)</em></q>
                <q class="comm-tags"><span>香脆可口</span><em>(1488)</em></q>
                <q class="comm-tags"><span>个个开口</span><em>(1392)</em></q>
                <q class="comm-tags"><span>价格便宜</span><em>(1119)</em></q>
                <q class="comm-tags"><span>特价买的</span><em>(865)</em></q>
                <q class="comm-tags"><span>皮很薄</span><em>(831)</em></q>
            </dd>
        </dl>
    </div>
    <div class="clear"></div>
    <!--<div class="tb-r-filter-bar">-->
        <!--<ul class=" tb-taglist am-avg-sm-4">-->
            <!--<li class="tb-taglist-li tb-taglist-li-current">-->
                <!--<div class="comment-info">-->
                    <!--<span>全部评价</span>-->
                    <!--<span class="tb-tbcr-num">(32)</span>-->
                <!--</div>-->
            <!--</li>-->

            <!--<li class="tb-taglist-li tb-taglist-li-1">-->
                <!--<div class="comment-info">-->
                    <!--<span>好评</span>-->
                    <!--<span class="tb-tbcr-num">(32)</span>-->
                <!--</div>-->
            <!--</li>-->

            <!--<li class="tb-taglist-li tb-taglist-li-0">-->
                <!--<div class="comment-info">-->
                    <!--<span>中评</span>-->
                    <!--<span class="tb-tbcr-num">(32)</span>-->
                <!--</div>-->
            <!--</li>-->

            <!--<li class="tb-taglist-li tb-taglist-li&#45;&#45;1">-->
                <!--<div class="comment-info">-->
                    <!--<span>差评</span>-->
                    <!--<span class="tb-tbcr-num">(32)</span>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <div class="am-tabs" data-am-tabs>
        <ul class="am-tabs-nav am-nav am-nav-tabs">
            <li class="am-active"><a href="#tab1">
                <div class="comment-info">
                    <span style="font-size: 10px;">全部评价 (64)</span>
                </div></a>
            </li>
            <li><a href="#tab2">
                <div class="comment-info">
                    <span style="font-size: 10px;">好评 (32)</span>
                </div></a>
            </li>
            <li><a href="#tab3">
                <div class="comment-info">
                    <span style="font-size: 10px;">中评 (32)</span>
                </div></a>
            </li>
        </ul>

        <div class="am-tabs-bd">
            <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                置身人群中<br>你只需要被淹没 享受 沉默<br>退到人群后<br>你只需给予双手 微笑 等候
            </div>
            <div class="am-tab-panel am-fade" id="tab2">
                走在忠孝东路<br>徘徊在茫然中<br>在我的人生旅途<br>选择了多少错误<br>我在睡梦中惊醒<br>感叹悔言无尽<br>恨我不能说服自己<br>接受一切教训<br>让生命去等候<br>等候下一个漂流<br>让生命去等候<br>等候下一个伤口
            </div>
            <div class="am-tab-panel am-fade" id="tab3">
                我就这样告别山下的家，我实在不愿轻易让眼泪留下。我以为我并不差不会害怕，我就这样自己照顾自己长大。我不想因为现实把头低下，我以为我并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
            </div>
        </div>
    </div>
    <!--<div class="clear"></div>-->

    <!--<ul class="am-comments-list am-comments-list-flip">-->
        <!--<li class="am-comment">-->
            <!--&lt;!&ndash; 评论容器 &ndash;&gt;-->
            <!--<a href="">-->
                <!--<img class="am-comment-avatar" src="/static/shop/images/hwbn40x40.jpg" />-->
                <!--&lt;!&ndash; 评论者头像 &ndash;&gt;-->
            <!--</a>-->

            <!--<div class="am-comment-main">-->
                <!--&lt;!&ndash; 评论内容容器 &ndash;&gt;-->
                <!--<header class="am-comment-hd">-->
                    <!--&lt;!&ndash;<h3 class="am-comment-title">评论标题</h3>&ndash;&gt;-->
                    <!--<div class="am-comment-meta">-->
                        <!--&lt;!&ndash; 评论元数据 &ndash;&gt;-->
                        <!--<a href="#link-to-user" class="am-comment-author">b***1 (匿名)</a>-->
                        <!--&lt;!&ndash; 评论者 &ndash;&gt;-->
                        <!--评论于-->
                        <!--<time datetime="">2015年11月02日 17:46</time>-->
                    <!--</div>-->
                <!--</header>-->

                <!--<div class="am-comment-bd">-->
                    <!--<div class="tb-rev-item " data-id="255776406962">-->
                        <!--<div class="J_TbcRate_ReviewContent tb-tbcr-content ">-->
                            <!--摸起来丝滑柔软，不厚，没色差，颜色好看！买这个衣服还接到诈骗电话，我很好奇他们是怎么知道我买了这件衣服，并且还知道我的电话的！-->
                        <!--</div>-->
                        <!--<div class="tb-r-act-bar">-->
                            <!--颜色分类：柠檬黄&nbsp;&nbsp;尺码：S-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
                <!--&lt;!&ndash; 评论内容 &ndash;&gt;-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="am-comment">-->
            <!--&lt;!&ndash; 评论容器 &ndash;&gt;-->
            <!--<a href="">-->
                <!--<img class="am-comment-avatar" src="/static/shop/images/hwbn40x40.jpg" />-->
                <!--&lt;!&ndash; 评论者头像 &ndash;&gt;-->
            <!--</a>-->

            <!--<div class="am-comment-main">-->
                <!--&lt;!&ndash; 评论内容容器 &ndash;&gt;-->
                <!--<header class="am-comment-hd">-->
                    <!--&lt;!&ndash;<h3 class="am-comment-title">评论标题</h3>&ndash;&gt;-->
                    <!--<div class="am-comment-meta">-->
                        <!--&lt;!&ndash; 评论元数据 &ndash;&gt;-->
                        <!--<a href="#link-to-user" class="am-comment-author">l***4 (匿名)</a>-->
                        <!--&lt;!&ndash; 评论者 &ndash;&gt;-->
                        <!--评论于-->
                        <!--<time datetime="">2015年10月28日 11:33</time>-->
                    <!--</div>-->
                <!--</header>-->

                <!--<div class="am-comment-bd">-->
                    <!--<div class="tb-rev-item " data-id="255095758792">-->
                        <!--<div class="J_TbcRate_ReviewContent tb-tbcr-content ">-->
                            <!--没有色差，很暖和……美美的-->
                        <!--</div>-->
                        <!--<div class="tb-r-act-bar">-->
                            <!--颜色分类：蓝调灰&nbsp;&nbsp;尺码：2XL-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
                <!--&lt;!&ndash; 评论内容 &ndash;&gt;-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="am-comment">-->
            <!--&lt;!&ndash; 评论容器 &ndash;&gt;-->
            <!--<a href="">-->
                <!--<img class="am-comment-avatar" src="/static/shop/images/hwbn40x40.jpg" />-->
                <!--&lt;!&ndash; 评论者头像 &ndash;&gt;-->
            <!--</a>-->

            <!--<div class="am-comment-main">-->
                <!--&lt;!&ndash; 评论内容容器 &ndash;&gt;-->
                <!--<header class="am-comment-hd">-->
                    <!--&lt;!&ndash;<h3 class="am-comment-title">评论标题</h3>&ndash;&gt;-->
                    <!--<div class="am-comment-meta">-->
                        <!--&lt;!&ndash; 评论元数据 &ndash;&gt;-->
                        <!--<a href="#link-to-user" class="am-comment-author">b***1 (匿名)</a>-->
                        <!--&lt;!&ndash; 评论者 &ndash;&gt;-->
                        <!--评论于-->
                        <!--<time datetime="">2015年11月02日 17:46</time>-->
                    <!--</div>-->
                <!--</header>-->

                <!--<div class="am-comment-bd">-->
                    <!--<div class="tb-rev-item " data-id="255776406962">-->
                        <!--<div class="J_TbcRate_ReviewContent tb-tbcr-content ">-->
                            <!--摸起来丝滑柔软，不厚，没色差，颜色好看！买这个衣服还接到诈骗电话，我很好奇他们是怎么知道我买了这件衣服，并且还知道我的电话的！-->
                        <!--</div>-->
                        <!--<div class="tb-r-act-bar">-->
                            <!--颜色分类：柠檬黄&nbsp;&nbsp;尺码：S-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
                <!--&lt;!&ndash; 评论内容 &ndash;&gt;-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="am-comment">-->
            <!--&lt;!&ndash; 评论容器 &ndash;&gt;-->
            <!--<a href="">-->
                <!--<img class="am-comment-avatar" src="/static/shop/images/hwbn40x40.jpg" />-->
                <!--&lt;!&ndash; 评论者头像 &ndash;&gt;-->
            <!--</a>-->

            <!--<div class="am-comment-main">-->
                <!--&lt;!&ndash; 评论内容容器 &ndash;&gt;-->
                <!--<header class="am-comment-hd">-->
                    <!--&lt;!&ndash;<h3 class="am-comment-title">评论标题</h3>&ndash;&gt;-->
                    <!--<div class="am-comment-meta">-->
                        <!--&lt;!&ndash; 评论元数据 &ndash;&gt;-->
                        <!--<a href="#link-to-user" class="am-comment-author">h***n (匿名)</a>-->
                        <!--&lt;!&ndash; 评论者 &ndash;&gt;-->
                        <!--评论于-->
                        <!--<time datetime="">2015年11月25日 12:48</time>-->
                    <!--</div>-->
                <!--</header>-->

                <!--<div class="am-comment-bd">-->
                    <!--<div class="tb-rev-item " data-id="258040417670">-->
                        <!--<div class="J_TbcRate_ReviewContent tb-tbcr-content ">-->
                            <!--式样不错，初冬穿-->
                        <!--</div>-->
                        <!--<div class="tb-r-act-bar">-->
                            <!--颜色分类：柠檬黄&nbsp;&nbsp;尺码：L-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; 评论内容 &ndash;&gt;-->
            <!--</div>-->
        <!--</li>-->

        <!--<li class="am-comment">-->
            <!--&lt;!&ndash; 评论容器 &ndash;&gt;-->
            <!--<a href="">-->
                <!--<img class="am-comment-avatar" src="/static/shop/images/hwbn40x40.jpg" />-->
                <!--&lt;!&ndash; 评论者头像 &ndash;&gt;-->
            <!--</a>-->

            <!--<div class="am-comment-main">-->
                <!--&lt;!&ndash; 评论内容容器 &ndash;&gt;-->
                <!--<header class="am-comment-hd">-->
                    <!--&lt;!&ndash;<h3 class="am-comment-title">评论标题</h3>&ndash;&gt;-->
                    <!--<div class="am-comment-meta">-->
                        <!--&lt;!&ndash; 评论元数据 &ndash;&gt;-->
                        <!--<a href="#link-to-user" class="am-comment-author">b***1 (匿名)</a>-->
                        <!--&lt;!&ndash; 评论者 &ndash;&gt;-->
                        <!--评论于-->
                        <!--<time datetime="">2015年11月02日 17:46</time>-->
                    <!--</div>-->
                <!--</header>-->

                <!--<div class="am-comment-bd">-->
                    <!--<div class="tb-rev-item " data-id="255776406962">-->
                        <!--<div class="J_TbcRate_ReviewContent tb-tbcr-content ">-->
                            <!--摸起来丝滑柔软，不厚，没色差，颜色好看！买这个衣服还接到诈骗电话，我很好奇他们是怎么知道我买了这件衣服，并且还知道我的电话的！-->
                        <!--</div>-->
                        <!--<div class="tb-r-act-bar">-->
                            <!--颜色分类：柠檬黄&nbsp;&nbsp;尺码：S-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
                <!--&lt;!&ndash; 评论内容 &ndash;&gt;-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="am-comment">-->
            <!--&lt;!&ndash; 评论容器 &ndash;&gt;-->
            <!--<a href="">-->
                <!--<img class="am-comment-avatar" src="/static/shop/images/hwbn40x40.jpg" />-->
                <!--&lt;!&ndash; 评论者头像 &ndash;&gt;-->
            <!--</a>-->

            <!--<div class="am-comment-main">-->
                <!--&lt;!&ndash; 评论内容容器 &ndash;&gt;-->
                <!--<header class="am-comment-hd">-->
                    <!--&lt;!&ndash;<h3 class="am-comment-title">评论标题</h3>&ndash;&gt;-->
                    <!--<div class="am-comment-meta">-->
                        <!--&lt;!&ndash; 评论元数据 &ndash;&gt;-->
                        <!--<a href="#link-to-user" class="am-comment-author">l***4 (匿名)</a>-->
                        <!--&lt;!&ndash; 评论者 &ndash;&gt;-->
                        <!--评论于-->
                        <!--<time datetime="">2015年10月28日 11:33</time>-->
                    <!--</div>-->
                <!--</header>-->

                <!--<div class="am-comment-bd">-->
                    <!--<div class="tb-rev-item " data-id="255095758792">-->
                        <!--<div class="J_TbcRate_ReviewContent tb-tbcr-content ">-->
                            <!--没有色差，很暖和……美美的-->
                        <!--</div>-->
                        <!--<div class="tb-r-act-bar">-->
                            <!--颜色分类：蓝调灰&nbsp;&nbsp;尺码：2XL-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
                <!--&lt;!&ndash; 评论内容 &ndash;&gt;-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="am-comment">-->
            <!--&lt;!&ndash; 评论容器 &ndash;&gt;-->
            <!--<a href="">-->
                <!--<img class="am-comment-avatar" src="/static/shop/images/hwbn40x40.jpg" />-->
                <!--&lt;!&ndash; 评论者头像 &ndash;&gt;-->
            <!--</a>-->

            <!--<div class="am-comment-main">-->
                <!--&lt;!&ndash; 评论内容容器 &ndash;&gt;-->
                <!--<header class="am-comment-hd">-->
                    <!--&lt;!&ndash;<h3 class="am-comment-title">评论标题</h3>&ndash;&gt;-->
                    <!--<div class="am-comment-meta">-->
                        <!--&lt;!&ndash; 评论元数据 &ndash;&gt;-->
                        <!--<a href="#link-to-user" class="am-comment-author">b***1 (匿名)</a>-->
                        <!--&lt;!&ndash; 评论者 &ndash;&gt;-->
                        <!--评论于-->
                        <!--<time datetime="">2015年11月02日 17:46</time>-->
                    <!--</div>-->
                <!--</header>-->

                <!--<div class="am-comment-bd">-->
                    <!--<div class="tb-rev-item " data-id="255776406962">-->
                        <!--<div class="J_TbcRate_ReviewContent tb-tbcr-content ">-->
                            <!--摸起来丝滑柔软，不厚，没色差，颜色好看！买这个衣服还接到诈骗电话，我很好奇他们是怎么知道我买了这件衣服，并且还知道我的电话的！-->
                        <!--</div>-->
                        <!--<div class="tb-r-act-bar">-->
                            <!--颜色分类：柠檬黄&nbsp;&nbsp;尺码：S-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
                <!--&lt;!&ndash; 评论内容 &ndash;&gt;-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="am-comment">-->
            <!--&lt;!&ndash; 评论容器 &ndash;&gt;-->
            <!--<a href="">-->
                <!--<img class="am-comment-avatar" src="/static/shop/images/hwbn40x40.jpg" />-->
                <!--&lt;!&ndash; 评论者头像 &ndash;&gt;-->
            <!--</a>-->

            <!--<div class="am-comment-main">-->
                <!--&lt;!&ndash; 评论内容容器 &ndash;&gt;-->
                <!--<header class="am-comment-hd">-->
                    <!--&lt;!&ndash;<h3 class="am-comment-title">评论标题</h3>&ndash;&gt;-->
                    <!--<div class="am-comment-meta">-->
                        <!--&lt;!&ndash; 评论元数据 &ndash;&gt;-->
                        <!--<a href="#link-to-user" class="am-comment-author">h***n (匿名)</a>-->
                        <!--&lt;!&ndash; 评论者 &ndash;&gt;-->
                        <!--评论于-->
                        <!--<time datetime="">2015年11月25日 12:48</time>-->
                    <!--</div>-->
                <!--</header>-->

                <!--<div class="am-comment-bd">-->
                    <!--<div class="tb-rev-item " data-id="258040417670">-->
                        <!--<div class="J_TbcRate_ReviewContent tb-tbcr-content ">-->
                            <!--式样不错，初冬穿-->
                        <!--</div>-->
                        <!--<div class="tb-r-act-bar">-->
                            <!--颜色分类：柠檬黄&nbsp;&nbsp;尺码：L-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; 评论内容 &ndash;&gt;-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="am-comment">-->
            <!--&lt;!&ndash; 评论容器 &ndash;&gt;-->
            <!--<a href="">-->
                <!--<img class="am-comment-avatar" src="/static/shop/images/hwbn40x40.jpg" />-->
                <!--&lt;!&ndash; 评论者头像 &ndash;&gt;-->
            <!--</a>-->

            <!--<div class="am-comment-main">-->
                <!--&lt;!&ndash; 评论内容容器 &ndash;&gt;-->
                <!--<header class="am-comment-hd">-->
                    <!--&lt;!&ndash;<h3 class="am-comment-title">评论标题</h3>&ndash;&gt;-->
                    <!--<div class="am-comment-meta">-->
                        <!--&lt;!&ndash; 评论元数据 &ndash;&gt;-->
                        <!--<a href="#link-to-user" class="am-comment-author">b***1 (匿名)</a>-->
                        <!--&lt;!&ndash; 评论者 &ndash;&gt;-->
                        <!--评论于-->
                        <!--<time datetime="">2015年11月02日 17:46</time>-->
                    <!--</div>-->
                <!--</header>-->

                <!--<div class="am-comment-bd">-->
                    <!--<div class="tb-rev-item " data-id="255776406962">-->
                        <!--<div class="J_TbcRate_ReviewContent tb-tbcr-content ">-->
                            <!--摸起来丝滑柔软，不厚，没色差，颜色好看！买这个衣服还接到诈骗电话，我很好奇他们是怎么知道我买了这件衣服，并且还知道我的电话的！-->
                        <!--</div>-->
                        <!--<div class="tb-r-act-bar">-->
                            <!--颜色分类：柠檬黄&nbsp;&nbsp;尺码：S-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
                <!--&lt;!&ndash; 评论内容 &ndash;&gt;-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="am-comment">-->
            <!--&lt;!&ndash; 评论容器 &ndash;&gt;-->
            <!--<a href="">-->
                <!--<img class="am-comment-avatar" src="/static/shop/images/hwbn40x40.jpg" />-->
                <!--&lt;!&ndash; 评论者头像 &ndash;&gt;-->
            <!--</a>-->

            <!--<div class="am-comment-main">-->
                <!--&lt;!&ndash; 评论内容容器 &ndash;&gt;-->
                <!--<header class="am-comment-hd">-->
                    <!--&lt;!&ndash;<h3 class="am-comment-title">评论标题</h3>&ndash;&gt;-->
                    <!--<div class="am-comment-meta">-->
                        <!--&lt;!&ndash; 评论元数据 &ndash;&gt;-->
                        <!--<a href="#link-to-user" class="am-comment-author">l***4 (匿名)</a>-->
                        <!--&lt;!&ndash; 评论者 &ndash;&gt;-->
                        <!--评论于-->
                        <!--<time datetime="">2015年10月28日 11:33</time>-->
                    <!--</div>-->
                <!--</header>-->

                <!--<div class="am-comment-bd">-->
                    <!--<div class="tb-rev-item " data-id="255095758792">-->
                        <!--<div class="J_TbcRate_ReviewContent tb-tbcr-content ">-->
                            <!--没有色差，很暖和……美美的-->
                        <!--</div>-->
                        <!--<div class="tb-r-act-bar">-->
                            <!--颜色分类：蓝调灰&nbsp;&nbsp;尺码：2XL-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
                <!--&lt;!&ndash; 评论内容 &ndash;&gt;-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="am-comment">-->
            <!--&lt;!&ndash; 评论容器 &ndash;&gt;-->
            <!--<a href="">-->
                <!--<img class="am-comment-avatar" src="/static/shop/images/hwbn40x40.jpg" />-->
                <!--&lt;!&ndash; 评论者头像 &ndash;&gt;-->
            <!--</a>-->

            <!--<div class="am-comment-main">-->
                <!--&lt;!&ndash; 评论内容容器 &ndash;&gt;-->
                <!--<header class="am-comment-hd">-->
                    <!--&lt;!&ndash;<h3 class="am-comment-title">评论标题</h3>&ndash;&gt;-->
                    <!--<div class="am-comment-meta">-->
                        <!--&lt;!&ndash; 评论元数据 &ndash;&gt;-->
                        <!--<a href="#link-to-user" class="am-comment-author">b***1 (匿名)</a>-->
                        <!--&lt;!&ndash; 评论者 &ndash;&gt;-->
                        <!--评论于-->
                        <!--<time datetime="">2015年11月02日 17:46</time>-->
                    <!--</div>-->
                <!--</header>-->

                <!--<div class="am-comment-bd">-->
                    <!--<div class="tb-rev-item " data-id="255776406962">-->
                        <!--<div class="J_TbcRate_ReviewContent tb-tbcr-content ">-->
                            <!--摸起来丝滑柔软，不厚，没色差，颜色好看！买这个衣服还接到诈骗电话，我很好奇他们是怎么知道我买了这件衣服，并且还知道我的电话的！-->
                        <!--</div>-->
                        <!--<div class="tb-r-act-bar">-->
                            <!--颜色分类：柠檬黄&nbsp;&nbsp;尺码：S-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
                <!--&lt;!&ndash; 评论内容 &ndash;&gt;-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="am-comment">-->
            <!--&lt;!&ndash; 评论容器 &ndash;&gt;-->
            <!--<a href="">-->
                <!--<img class="am-comment-avatar" src="/static/shop/images/hwbn40x40.jpg" />-->
                <!--&lt;!&ndash; 评论者头像 &ndash;&gt;-->
            <!--</a>-->

            <!--<div class="am-comment-main">-->
                <!--&lt;!&ndash; 评论内容容器 &ndash;&gt;-->
                <!--<header class="am-comment-hd">-->
                    <!--&lt;!&ndash;<h3 class="am-comment-title">评论标题</h3>&ndash;&gt;-->
                    <!--<div class="am-comment-meta">-->
                        <!--&lt;!&ndash; 评论元数据 &ndash;&gt;-->
                        <!--<a href="#link-to-user" class="am-comment-author">h***n (匿名)</a>-->
                        <!--&lt;!&ndash; 评论者 &ndash;&gt;-->
                        <!--评论于-->
                        <!--<time datetime="">2015年11月25日 12:48</time>-->
                    <!--</div>-->
                <!--</header>-->

                <!--<div class="am-comment-bd">-->
                    <!--<div class="tb-rev-item " data-id="258040417670">-->
                        <!--<div class="J_TbcRate_ReviewContent tb-tbcr-content ">-->
                            <!--式样不错，初冬穿-->
                        <!--</div>-->
                        <!--<div class="tb-r-act-bar">-->
                            <!--颜色分类：柠檬黄&nbsp;&nbsp;尺码：L-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; 评论内容 &ndash;&gt;-->
            <!--</div>-->
        <!--</li>-->

    <!--</ul>-->

    <div class="clear"></div>

    <!--分页 -->
    <ul class="am-pagination am-pagination-right">
        <li class="am-disabled"><a href="#">&laquo;</a></li>
        <li class="am-active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
    <div class="clear"></div>

    <div class="tb-reviewsft">
        <div class="tb-rate-alert type-attention">购买前请查看该商品的 <a href="#" target="_blank">购物保障</a>，明确您的售后保障权益。</div>
    </div>

</div>