<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="/static/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" />
    <link href="/static/shop/basic/css/demo.css" rel="stylesheet" type="text/css" />

    <% if ( style == "mainPage") { %>
    <title>首页</title>
    <link href="/static/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="/static/shop/css/hmstyle.css" rel="stylesheet" type="text/css" />
    <script src="/static/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script src="/static/AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>
    <% } %>
    <% if ( style == "cart") { %>
    <title>购物车</title>
    <link href="/static/shop/css/cartstyle.css" rel="stylesheet" type="text/css" />
    <link href="/static/shop/css/optstyle.css" rel="stylesheet" type="text/css" />
    <script src="/static/AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <% } %>
    <% if ( style == "introduction") { %>
    <title>商品页面</title>
    <link href="/static/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css" />
    <link type="text/css" href="/static/shop/css/optstyle.css" rel="stylesheet" />
    <link type="text/css" href="/static/shop/css/style.css" rel="stylesheet" />

    <script type="text/javascript" src="/static/shop/basic/js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="/static/shop/basic/js/quick_links.js"></script>

    <script type="text/javascript" src="/static/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
    <script type="text/javascript" src="/static/shop/js/jquery.imagezoom.min.js"></script>
    <script type="text/javascript" src="/static/shop/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/static/shop/js/list.js"></script>
    <% } %>
    <% if ( style == "pay") { %>
    <title>支付界面</title>
    <link href="/static/shop/css/cartstyle.css" rel="stylesheet" type="text/css" />
    <link href="/static/shop/css/jsstyle.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/shop/js/address.js"></script>
    <% } %>
    <% if ( style == "success") { %>
    <title>付款成功页面</title>
    <link href="/static/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
    <link href="/static/shop/css/sustyle.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/shop/basic/js/jquery-1.7.min.js"></script>
    <% } %>
</head>