<% include ../static/head.html %>
<body>
<% include ../static/topBar.html %>
<div class="am-cf admin-main">

    <% include ../static/leftMenu.html %>

    <div class=" admin-content">

        <div class="daohang">
            <!--<ul>-->
                <!--<li><a href="/admin/index"><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"> 首页 </button></a></li>-->
                <!--<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">帮助中心<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>-->
                <!--<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">奖金管理<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>-->
                <!--<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">产品管理<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>-->
            <!--</ul>-->
        </div>
        <div class="admin-biaogelist">

            <div class="listbiaoti am-cf">
                <ul class="am-icon-flag on"> 栏目名称</ul>

                <dl class="am-icon-home" style="float: right;"> 当前位置： 商品管理 > <a href="/admin/product/index">商品列表</a></dl>


            </div>

            <div class="am-btn-toolbars am-btn-toolbar am-kg am-cf">
                <form id="search_form" method="post" action="/admin/product/index">
                    <ul>

                        <li style="margin-right: 0;">
                            <span class="tubiao am-icon-calendar"></span>
                            <input name="startdate" type="text" class="am-form-field am-input-sm am-input-zm  am-icon-calendar" placeholder="开始日期" data-am-datepicker="{theme: 'success',}"  readonly/>
                        </li>
                        <li style="margin-left: -4px;">
                            <span class="tubiao am-icon-calendar"></span>
                            <input name="enddate" type="text" class="am-form-field am-input-sm am-input-zm  am-icon-calendar" placeholder="结束日期" data-am-datepicker="{theme: 'success',}"  readonly/>
                        </li>
                        <li>
                            <div class="am-btn-group am-btn-group-xs" style="z-index: 1024">
                                <select name="is_onsale" data-am-selected="{btnWidth: 90, btnSize: 'sm', btnStyle: 'default'}">
                                    <option value="-1">上架/下架</option>
                                    <option value="1">上架</option>
                                    <option value="0">下架</option>
                                </select>
                            </div>
                        </li>

                        <li style="margin-left: -10px;">
                            <div class="am-btn-group am-btn-group-xs" style="z-index: 1024">
                                <select name="product_type" data-am-selected="{btnWidth: 90, btnSize: 'sm', btnStyle: 'default'}">
                                    <option value="-1">商品分类</option>
                                    <%product_typeList.forEach(function(product_type){%>
                                        <option value=<%-product_type.product_type_id%>><%-product_type.tname%></option>
                                    <%})%>
                                </select>
                            </div>
                        </li>
                        <li><input name="keyword" type="text" class="am-form-field am-input-sm am-input-xm" placeholder="关键词搜索" /></li>
                        <li><button type="submit" class="am-btn am-radius am-btn-xs am-btn-success" style="margin-top: -1px;">搜索</button></li>
                    </ul>
                </form>
            </div>


            <form class="am-form am-g">
                <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
                    <thead>
                    <tr class="am-success">
                        <th class="table-check"><input id=check_all type="checkbox" /></th>

                        <th class="table-id">ID</th>
                        <th class="table-title">商品名称</th>
                        <th class="table-type">商品类别</th>
                        <th class="table-price">商品价格</th>
                        <th class="table-author am-hide-sm-only">上架/下架 <i class="am-icon-check am-text-warning"></i> <i class="am-icon-close am-text-primary"></i></th>
                        <th class="table-date am-hide-sm-only">修改日期</th>
                        <th width="163px" class="table-set">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%productsList.forEach(function(product){%>
                    <tr id='tr_<%-product.product_id%>'>
                        <td><input id='check_<%-product.product_id%>' type="checkbox" /></td>

                        <td><%-product.product_id%></td>
                        <td><a href="#"><%-product.name%></a></td>
                        <td><%-product.tname%></td>
                        <td><%-product.price%></td>
                        <%if(product.is_onsale === 0){%>
                        <td class="am-hide-sm-only"><i class="am-icon-close am-text-primary"></i></td>
                        <%}else{%>
                        <td class="am-hide-sm-only"><i class="am-icon-check am-text-warning"></i></td>
                        <%}%>

                        <td class="am-hide-sm-only"><%-dateformat('Y-m-d H:i:s', product.update_time)%></td>
                        <td><div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary am-round"><span class="am-icon-pencil-square-o"></span></button>
                                <button id='btn_del_<%-product.product_id%>' class="btn-del am-btn am-btn-default am-btn-xs am-text-danger am-round"><span class="am-icon-trash-o"></span></button>
                            </div>
                        </div></td>
                    </tr>
                    <%})%>
                    </tbody>
                </table>

                <div class="am-btn-group am-btn-group-xs">
                    <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 上架</button>
                    <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 下架</button>
                    <button type="button" class="am-btn am-btn-default" onclick="window.open('/admin/product/add')"><span class="am-icon-plus"></span> 新增</button>
                    <button id="btn_del_selectBox" type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
                </div>

                <ul class="am-pagination am-fr">
                    <li class="am-disabled"><a href="#">«</a></li>
                    <li class="am-active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>




                <hr />
                <p>注：.....</p>
            </form>




            <div class="foods">
                <ul>
                    版权所有@2017
                </ul>
                <dl>
                    <a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
                </dl>
            </div>




        </div>

    </div>




</div>

<!--[if lt IE 9]>
<!--<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>-->
<!--<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>-->
<!--<script src="assets/js/polyfill/rem.min.js"></script>-->
<!--<script src="assets/js/polyfill/respond.min.js"></script>-->
<!--<script src="assets/js/amazeui.legacy.js"></script>-->
<!--<![endif]&ndash;&gt;-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/admin/js/amazeui.min.js"></script>
<!--<![endif]-->
<script>
    $(function () {
        $('#check_all').on('change',function () {
            let checkboxes = $("table tbody input[type='checkbox']");
            if(this.checked){
                for (let i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = true;
                }
            }
            else{
                for (let i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = false;
                }
            }
        });
        $('.btn-del').on('click', function () {
//            alert(delConfirm());
            let product_id = this.id.substring(8);
            let IDs = product_id+",";

            if (delConfirm()) {
                ajaxDelete(IDs);
            }
            return false;
        });

        $('#btn_del_selectBox').on('click', function () {
            let checkboxes = $("table tbody input[type='checkbox']");
//        alert(checkboxes.length);
            let IDs = "";
            let count = 0;
            for (let i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    let curid = checkboxes[i].id.replace('check_', '');
                    IDs += curid+",";
                    count++;
                }
            }
            if (count <= 0)
                alert('您未选中任何信息');
            else {
                if (delConfirm()) {
                    ajaxDelete(IDs);//单选或多选共同调用
                }
            }
        });
        function ajaxDelete(IDs) {
            $.ajax({
                type: "POST", url: "/admin/product/delete", dataType: "json",
                data: {product_ids: IDs},
                success: function (result) {
                    console.log(result);
                    if (result.data == 1) {
                        alert("删除成功"+IDs);
                        location.href = "/admin/product/index";
                    }
                    else {
                        alert("删除失败");
                    }

                }, complete: function () {
//
                }, error: function (e) {
                    console.log(e);
                }
            });
        }
        //删除弹窗二次确认
        function delConfirm() {
            var msg = "您真的确定要删除吗？\n\n请确认！";
            if (confirm(msg) == true) {
                return true;
            } else {
                return false;
            }
        }
        
    })
</script>

</body>
</html>